<div class="maincoursesbody">
    <div class="allcourses">
        <div class="indcourses">
            <div class="titleofcourses">
                    <div class="titlebox sc"><a class="coursename" [routerLink]="['/h/s/results']" [queryParams]="{ query: 'science'}">Science</a></div>
                    <div class="titlebox ss"><a class="coursename" [routerLink]="['/h/s/results']" [queryParams]="{ query: 'social science'}">Social Science</a></div>
                    <div class="titlebox ma"><a class="coursename" [routerLink]="['/h/s/results']" [queryParams]="{ query: 'mathematics'}">Mathematics</a></div>
                    <div class="titlebox ec"><a class="coursename" [routerLink]="['/h/s/results']" [queryParams]="{ query: 'economics'}">Economics</a></div>
                    <div class="titlebox co"><a class="coursename" [routerLink]="['/h/s/results']" [queryParams]="{ query: 'computers'}">Computers</a></div>
                    <div class="titlebox ar"><a class="coursename" [routerLink]="['/h/s/results']" [queryParams]="{ query: 'arts'}">Arts</a></div>
            </div>
        </div>
    </div>
</div>

