<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<div class="mainsignupbody">
    <div class="login-form">
        <div class="title">
            Login
        </div>
        <div class="form">
            <br>
            <form #loginForm = "ngForm">
                <div class="group">
                  <input type="text" #email="ngModel" [ngClass]="{'forempty' : (email.invalid && email.touched)}" name="email" id="email" required ngModel>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>E-mail</label>
                </div>

                <div class="group">
                  <input type="password" #pass="ngModel" [ngClass]="{'forempty' : (pass.invalid && pass.touched)}" name="pass" id="pass" required ngModel>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Password</label>
                </div>


                <input type="submit" [disabled]="!loginForm.valid" value="submit" (click)="loginreq()" class = "button_slide slide_right">
                <br>
                <br>
                <button class = "button_slide slide_right"> <a href="/signup">Sign-Up</a></button>

            </form>
        </div>
    </div>
    <div class="allmessages">
      {{error.messge}}
    </div>
</div>
