.mainsignupbody{
    display: grid;
    width: 100%;
    height: 100%;
    background: url('/assets/Images/bg-01.jpeg') no-repeat;
    background-size: cover;
  }
.signup-form{
    display: grid;
    margin: auto;
    padding: 48px;
    width: 60vh;
    height: 80vh;
    border: 3px solid black;
    background: #fff;
    border-radius: 10px;
    grid-template-rows: 1fr 8fr;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.title{
    margin : auto;
    font-size: 39px;
    font-family: Poppins-Bold;
    font-weight: bold;
    color: #333333;
    text-align: center;
}

#group-1{
  display: grid;
}
#group-2{
  display: none;
}

.group {
  display: grid ;
  position:relative;
  margin-bottom:45px;
}

input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
.highlight{
  padding-top: 1px;
}

.button_slide {
  width: 28vh;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 30px;
  padding: 12px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #aa48f5;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #aa48f5;
  color : white;
}

select{
  height: 5vh;
  width: 21vw;
  padding-left: 2%;
}

.backarr{
  width : 100%;
  display: grid;
  text-align-last: right;
  cursor: pointer;
}

.material-icons {
  font-size: 24px;
  font-weight: 700;
}
.person_icon{
  text-align: end;
}
.person_icon i{
  text-align: -webkit-right;
    width: 30vw;
    font-size: 2rem;
}
a{
  color: black;
}
