<div class="mainfavouritesbody">
    <div class="allfavourites">
        <div class="indfavourites">
            <div class="titleoffavourites">
                    <div class="titlebox sc"><a class="favouritename" href="#">Science Notes</a></div>
                    <div class="titlebox ss"><a class="favouritename" href="#">Social Science Notes</a></div>
                    <div class="titlebox ma"><a class="favouritename" href="#">Mathematics Notes</a></div>
                    <div class="titlebox ec"><a class="favouritename" href="#">Economics Notes</a></div>
                    <div class="titlebox co"><a class="favouritename" href="#">Computers Notes</a></div>
                    <div class="titlebox ar"><a class="favouritename" href="#">Arts Notes</a></div>
            </div>
        </div>
    </div>
</div>

