<div class="mainnotes">
    <div class="headernotes" style="background: url('/assets/Images/{{selectedclass.img}}.jpeg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="notessubjecthead">{{selectedclass.name}}</div>
        <div class="batch">{{selectedclass.batchname}}</div>
    </div>
    <div class="mainbodynotes">
      <div class="announcementsection">
        <div class="announceheader">Make Announcement</div>
        <div class="announceform">
          <textarea type="text" name="" class="notes" id="announcement" placeholder="Announce something in your class"></textarea>
          <div class="makeannouncebtn" (click)="sendannounce()">Send Announcement</div>
        </div>
      </div>
      <div class="uploadnotes" *ngIf="type == 'Tutor'">
        <div class="uploadnotesheader">
          Upload Notes
        </div>
        <div class="notesform">
          <input type="file" name="" multiple id="fileuploaded">
        </div>
      </div>
      <div class="mainnotesbody" *ngFor="let indannounce of myannouncements">
        <div class="notesheader">
          <div class="mainnotessender" >Harsh Sharma</div>
          <div class="mainnotestime" >17:05</div>
        </div>
        <div class="mainnotesmessage" >{{indannounce.content}}</div>
    </div>

</div>
