.mainsetting {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    display: grid;
  }
.line{
    margin-top: 2vh;
    margin-bottom: 4vh;
}
.modalform{
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ededed9c;
}
.btn {
    background: #f01313;
    place-self: center;
    background-image: -webkit-linear-gradient(top, #f01313, #941b1b);
    background-image: -moz-linear-gradient(top, #f01313, #941b1b);
    background-image: -ms-linear-gradient(top, #f01313, #941b1b);
    background-image: -o-linear-gradient(top, #f01313, #941b1b);
    background-image: linear-gradient(to bottom, #f01313, #941b1b);
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 13vw;
  }

  .btn:hover {
    background: #fc3c3c;
    background-image: -webkit-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -moz-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -ms-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -o-linear-gradient(top, #fc3c3c, #d93434);
    background-image: linear-gradient(to bottom, #fc3c3c, #d93434);
    text-decoration: none;
  }
h1{
    margin-top:2vh;
}
.settingdivision {
    display: grid;
    margin-bottom: 4vh;
    width: 38vw;
    height: 7vh;
    padding-top: 20px;
    padding-bottom: 0;
    background: rgb(126, 185, 240);
    background-image: -webkit-linear-gradient(top, rgb(126, 185, 240), rgb(85, 123, 248));
    background-image: -moz-linear-gradient(top, rgb(126, 185, 240), rgb(85, 123, 248));
    background-image: -ms-linear-gradient(top, rgb(126, 185, 240), rgb(85, 123, 248));
    background-image: -o-linear-gradient(top, rgb(126, 185, 240), rgb(85, 123, 248));
    background-image: linear-gradient(to bottom, rgb(126, 185, 240), rgb(85, 123, 248));
}
.settingdivision:hover{
    background: #5fa6e7;
    background-image: -webkit-linear-gradient(top, #5fa6e7, #2f56d8);
    background-image: -moz-linear-gradient(top, #5fa6e7, #2f56d8);
    background-image: -ms-linear-gradient(top, #5fa6e7, #2f56d8);
    background-image: -o-linear-gradient(top, #5fa6e7, #2f56d8);
    background-image: linear-gradient(to bottom, #5fa6e7, #2f56d8);
    text-decoration: none;
}

.form{
  padding-top: 10%;
}

.group 			  {
  position:relative;
  margin-bottom:45px;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:374px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
.highlight{
  padding-top: 1px;
}
.setting_back{
  display: grid;
    text-align: -webkit-auto;
}

.button_slide {
  width: 40vh;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 30px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #aa48f5;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #aa48f5;
  color : white;
}
.slide_right:hover a{
  color : white;
}

.login-form{
  display: grid;
  margin: auto;
  padding: 48px;
  width: 60vh;
  height: 60vh;
  border: 3px solid black;
  background: #fff;
  border-radius: 10px;
  grid-template-rows: 1fr 8fr;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.title{
  margin : auto;
  font-size: 39px;
  font-family: Poppins-Bold;
  font-weight: bold;
  color: #333333;
  text-align: center;
}

.cancel_button{
  display: grid;
  width: 105%;
  cursor: pointer;
  text-align: -webkit-right;
}
i{
  font-size: xx-large;
}
.dbmodalcontent{
  display: grid;
  width: 50%;
  height:20%;
  place-self: center;
  border-radius: 33px;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.createclassmodal{
  display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ededed9c;
}
.formcontent{
  display: grid;
  margin: auto;
  padding-left: 1vw;
  font-family: proxima-nova, monospace;
  padding-top: 1vw;
}
.cancel_button{
  margin: auto;
    border-radius: 30px;
    width: 8vw;
    height: 4vh;
    background-color: #ff9b9b;
    text-align: center;
    padding-top: 7px;
    -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.cancel_button:hover{
  box-shadow: inset 400px 0 0 0 #81f98a;
  color: black;
  font-weight: 550;
  cursor: pointer;
}
.delete_button{
  margin: auto;
    border-radius: 30px;
    width: 8vw;
    height: 4vh;
    background-color: #ff9b9b;
    text-align: center;
    padding-top: 7px;
    -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.delete_button:hover{
  box-shadow: inset 400px 0 0 0 #f52b2b;
  color: white;
  font-weight: 550;
  cursor: pointer;
}
.formcontrols{
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 2fr;
  justify-self: end;
}

body, html {
  height: 100%
}

.bgimg {
  /* Background image */
  background-image: url('/w3images/forestbridge.jpg');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
  display: grid;
  border-radius: 76px;
  width: 8vw;
  height: 8vw;
  border: 1px solid black;
  overflow: hidden;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}
