*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* background: url('/assets/Images/wholebg.jpeg'); */
}
app-aclass{
  height: 90.3vh;
  overflow-y: scroll;
  display: grid;
}
app-insights{
  overflow-y: scroll;
    height: 92.31vh;
}
app-invi-student{
  overflow-y: scroll;
    height: 92.3vh;
}
app-settings{
  background: url('/assets/Images/bgunderdev.jpg') repeat;
    background-size: cover;
}
.forempty{
  border: 1px solid red !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
